body {
    background-color:#f8f9fa !important;
}

.content {
    max-width: 1000px;
    margin-top: 20px;
}
  
.profile-container {
    margin-top: 10px;
    width:30%;
    min-width: 200px;;
    max-width:300px;
    max-height: 300px;
    border:1px solid #ddd;
    color:#657786;
}


.btn-tweet {
    border-radius: 30px;
}

.tweet-container {
    margin-top: 10px;
    font-size:14px;
    border-radius: 0px;
    border:1px solid #ddd;
}

.navbar {
    border-bottom:1px solid rgba(0, 0, 0, 0.25);
}

.img-fluid {
    max-height: 100px;
}

#image-profile:hover, .fa-edit, .fa-trash {
    cursor: pointer;
}

.btn-danger {
    font-size:10px;
  }